@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Geist+Mono:wght@400;600;800&family=Geist:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --bg-page: #07080D;
  --bg-panel: #0C101CEE;
  --bg-nav: #0B1020CC;
  
  --text-primary: #FFFFFF;
  --text-secondary: #94A3B8;
  --text-muted: #566079;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-page);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
